utils/
wx_server/
report/*
Data/train.*
Data/test_dir/
Data/train_dir/train/*
Packages/
Papers/
__pycache__/
.ipynb_checkpoints/
*.py
report.pdf
report.html
*.zip

!report/report.pdf
!report/images/
!report/images/*
!Data/train_dir/train/1.jpg
!train_keras.py
!dataset_keras.py
